html {
    --white: hsl(0, 0%, 100%);
    --dark-gray: hsl(0, 0%, 63%);
    --very-dark-gray: hsl(0, 0%, 27%);
    --black: hsl(0, 0%, 0%);
    font-size: 12px;
}

body {
    background-color: var(--white);
    font-family: 'Spartan', sans-serif;
    margin: 0;
}

@keyframes fade-in {
    from {
        opacity: .7;
    } to {
        opacity: 1;
    }
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav-bar {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    margin: 64px;
    z-index: 2;
}

.nav-item {
    display: inline-block;
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    margin-right: 35px;
    cursor: pointer;
}

.link-underline {
    position: relative;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0rem;
    height: 2px;
    background-color: var(--white);
    transition: width .15s ease;
}

.nav-item:hover .link-underline {
    width: 2ch;
}

.flex-row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

#main-row {
    height: 67%;
}

#sub-row {
    height: 33%;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    display: block;
}

.discover {
    position: relative;
    flex-grow: 1;
    width: 41%;
    box-sizing: border-box;
    background-color: var(--white);
}

.discover-text {
    margin: 17%;
}

.shop {
    display: block;
    margin-top: 5%;
    padding: 2% 0%;
    transition: color ease .15s, fill ease .15s;
    color: var(--black);
    fill: var(--black);
    cursor: pointer;
}

.shop:hover {
    color: var(--dark-gray);
    fill: var(--dark-gray)
}

.shop > span {
    display: inline-block;
    margin-right: 10%;
    font-size: 1rem;
    letter-spacing: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.carousel-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

.carousel-button {
    width: 87px;
    height: 87px;
    background-color: black;
    transition: background-color ease .1s;
    cursor: pointer;
}

.carousel-button > svg {
    fill: none;
    stroke: var(--white);
}

.carousel-button:hover {
    background-color: var(--very-dark-gray);
}

.active {
    display: block !important;
    animation: fade-in ease-out .5s forwards;
}

.landing-carousel img {
    display: none;
}

.about {
    max-width: 45%;
    box-sizing: border-box;
    height: 33vh;
    padding: 4%
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--black);
}

h2 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--black);
}

p {
    color: var(--dark-gray);
    line-height: 1.75rem;
}