html {
    --white: hsl(0, 0%, 100%);
    --dark-gray: hsl(0, 0%, 63%);
    --very-dark-gray: hsl(0, 0%, 27%);
    --black: hsl(0, 0%, 0%);
    font-size: 12px;
}

body {
    background-color: var(--white);
    font-family: 'Spartan', sans-serif;
    margin: 0;
}

#nav-bar {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    margin: 64px;
    z-index: 2;
}

.nav-item {
    display: inline-block;
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    margin-right: 35px;
    cursor: pointer;
}

.link-underline {
    position: relative;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0rem;
    height: 2px;
    background-color: var(--white);
    transition: width .15s ease;
}

.nav-item:hover .link-underline {
    width: 2ch;
}

.flex-row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

#main-row {
    height: 67%;
}

#sub-row {
    height: 33%;
}

.image-container {
    overflow: hidden;
    /* flex-shrink: 1; */
}

.image-container img {
    display: block;
}

.discover {
    flex-grow: 1;
    width: 45%;
    box-sizing: border-box;
    background-color: var(--white);
    padding: 7.5%;
}

.about {
    max-width: 45%;
    box-sizing: border-box;
    height: 33vh;
    padding: 4%
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--black);
}

h2 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--black);
}

p {
    color: var(--dark-gray);
    line-height: 2rem;
}